/Atlantic_OceanSources/input_data
/Atlantic_OceanSources/Atlantic_OceanSources_case_out

/Atlantic_Rivers/input_data
/Atlantic_Rivers/Atlantic_Rivers_case_out

/Portugal_OceanSources/input_data
/Portugal_OceanSources/Portugal_OceanSources_case_out

/Portugal_Rivers/input_data
/Portugal_Rivers/Portugal_Rivers_case_out

/Spain_OpenSources/input_data
/Spain_OpenSources/Spain_OpenSources_case_out
