./Atlantic_OceanSources/input_data
./Atlantic_OceanSources/data
./Atlantic_Rivers/input_data
./Atlantic_Rivers/data
./Portugal_OceanSources/input_data
./Portugal_OceanSources/data
./Portugal_Rivers/input_data
./Portugal_Rivers/data
./Spain_Rivers/input_data
./Spain_Rivers/data
./Spain_OceanSources/input_data
./Spain_OceanSources/data
